// 设置 notification/message 层级在 loading 之上

.el-message,
.el-notification {
	z-index: 99999 !important;
}

// el-dialog 样式

.el-dialog {
	.el-dialog__header {
		padding: 15px 20px;
		margin: 0;
		border-bottom: 1px solid var(--el-border-color-lighter);

		.el-dialog__title {
			font-size: 17px;
		}
	}
}
